<html>
<head>
    <title>Input</title>
</head>
<body>
<div>
        <form  action="/input" method="POST">
            <div class="field">
                <input name="value" placeholder="Enter a value" type="text">
            </div>
            <button type="submit">Submit</button>
        </form>
</div>
</body>
</html>